# Virtual Environment
venv/
venv_official/
venv_mobilenet/

# Python cache
__pycache__/
*.pyc
*.pyo

# Dataset Files
data/

# IDE/Editor files
.vscode/
.idea/

# Log files
*.log

# Model weights
weights/